
body {
  background-color: #000000;
}

.outer {
  width: 100%;
  height: 90vh;
  position: relative;
}

.board {
  width: 600px;
  height: 600px;
  background-color: #14bdac;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 195px;
  height: 195px;
  background-color: #000000;
  position: relative;
  cursor: pointer;
}

.c1,.c2 {
  margin-right: 5px;
}

.r1,.r2 {
  margin-bottom: 5px;
}

.c3 {
  width: 200px;
}

.r3 {
  height: 200px;
}

.x {
  color: #EA0000;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 200px;
  user-select: none;
  position: absolute;
  display: block;
  line-height: 200px;
  top: 40px;
  left: 40px;
  visibility: hidden;
}

.o {
  color: #006CFF;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 200px;
  user-select: none;
  position: absolute;
  display: block;
  line-height: 200px;
  top: 40px;
  left: 40px;
  visibility: hidden;
}

.settings {
  position: absolute;
  left: 80%;
  top: 20%;
}

.new-game-btn {
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.new-game-btn:hover {
  background-color: #899793;
}

.count {
  color: white;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 20px;
}

.player-cnt {
  margin-top: 50px;
}

